body {
    background-color: lightgoldenrodyellow;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border: yellow solid 2px;
    background-image: url(./img/bg-color.jpg);
}

.descrip {
    text-align: center;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: orangered;
    font-weight: bolder;
}

nav {
    background-image: url(./img/nav-color.jpg);
    border: yellow solid 2px;
    border-radius: 30px;
    /* margin-top: 50px; */
    padding: initial;
    padding-top: 0px;
}

.nav {
    display: flex;
    list-style: none;
    /* loại bỏ dấu chấm trong li */
}

.small_nav {
    text-align: center;
    font-size: medium;
    margin-right: 5px;
    padding-top: 5px;
    width: 150px;
    height: 25px;
    border: rgba(247, 200, 130, 0.951) dashed 5px;
    border-radius: 30px;
    background-color: wheat;

}

a {
    font-family: 'Courier New', Courier, monospace;
    color: orangered;
    text-decoration: none;
    font-weight: bold;

}



