.cv_header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 310px;
    margin: 5px;
    padding: 10px;
    border: yellow solid 2px;
    background-image: url(./img/bg-color.jpg);
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 760px;
}

.small_cv_body {
    display: flex;
    align-items: center;
}

.study {
    margin-left: 20px;
}

.year1 {
    border-right: orange double 3px;
}